{% extends 'index.html' %}

{% block content %}
<section class="about-journal">
    <h2>About the journal</h2>
    <p>
        Coming soon...
    </p>
    <a href="#">View full aims & scope</a>
</section>
<section class="insights">
    <div class="insight">
        <span class="value">275 days</span>
        <span class="label">Review time</span>
    </div>
    <div class="insight">
        <span class="value">348 days</span>
        <span class="label">Submission to acceptance</span>
    </div>
    <div class="insight">
        <span class="value">7 days</span>
        <span class="label">Acceptance to publication</span>
    </div>
    <div class="view-insights">
        <a href="#">View all insights</a>
    </div>
</section>
<section class="editor-in-chief">
    <h2>Editor-in-Chief</h2>
    <a href="#">View full editorial board</a>
    <div class="editor-details">
        <h3>Dr. Monika Yadav</h3>
        <p>
            Coming soon...
        </p>
    </div>
</section>
{% endblock %}