{% extends 'index.html' %}

{% block content %}
<section class="about-journal">
    <h2>About the journal</h2>
    <!-- <h3>Description of the International Journal of Convergent Research (IJCR)</h3> -->
    <p>
        The International Journal of Convergent Research (IJCR) is a multidisciplinary, peer-reviewed journal dedicated to advancing the frontiers of research through the integration of diverse fields of study. IJCR aims to foster innovation and collaboration by publishing high-quality research that bridges the gaps between traditional disciplines, promoting convergent approaches to address complex global challenges. With a commitment to excellence, IJCR provides a platform for researchers, scholars, and practitioners to share their findings, insights, and advancements in a wide array of subjects.
    </p>
    <!-- <a href="#">View full aims & scope</a> -->
</section>
<section class="about-journal">
    <h2>Aim and Scope</h2>
    <div class="aim-scope-section">
        <div class="aim">
            <!-- <h2>Aim</h2> -->
            <p>The International Journal of Convergent Research (IJCR) seeks to promote interdisciplinary collaboration and innovation by publishing research that integrates methodologies, theories, and practices from multiple disciplines. Our goal is to advance knowledge and provide solutions to multifaceted issues that require a convergent research approach. We strive to be a leading platform for groundbreaking studies that transcend traditional academic boundaries and contribute to the betterment of society.</p>
        </div>
        <div class="scope">
            <!-- <h2>Scope</h2> -->
            <ul>
                <li><strong>Science and Technology:</strong> Integrative studies that combine insights from physics, chemistry, biology, engineering, and computer science to develop novel technologies and scientific understanding not just limited to advanced. Researches from basic to advanced research are also invited.</li>
                <li><strong>Health and Medicine:</strong> Research that merges fields such as biotechnology, medicine, and public health to address human related issues and improve healthcare outcomes.</li>
                <li><strong>Social Sciences and Humanities:</strong> Interdisciplinary investigations that blend sociology, psychology, economics, cultural studies, and political science to explore societal dynamics and human behavior.</li>
                <li><strong>Environmental Studies:</strong> Collaborative research that unites ecology, environmental science, urban planning, and policy studies to address environmental challenges and promote sustainability.</li>
                <li><strong>Business, Management and Commerce:</strong> Studies that integrate principles from business, economics, information systems, and organisational behaviour to enhance business practices and organisational effectiveness.</li>
                <li><strong>Education and Learning:</strong> Research that converges educational theories, cognitive science, instructional technology, and curriculum development to improve teaching and learning processes.</li>
                <li><strong>Arts and Design:</strong> Creative work that combines artistic practices, design principles, technology, and cultural studies to foster innovation in the arts and design industries.</li>
                <li><strong>Law:</strong> Research that integrates legal studies with other disciplines such as technology, ethics, sociology, and environmental studies to explore the evolving landscape of legal issues and promote a comprehensive understanding of law in a global context.</li>
            </ul>
            <p>IJCR welcomes original research articles, review papers, case studies, technical reports and perspectives that reflect the convergent nature of contemporary research. By facilitating the exchange of knowledge across disciplines, IJCR aims to contribute to a holistic understanding of complex issues and support the development of integrated solutions.</p>
        </div>
    </div>
    
    <!-- <a href="#">View full aims & scope</a> -->
</section>
<section class="insights">
    <div class="insight">
        <span class="value">30 days</span>
        <span class="label">Review time</span>
    </div>
    <div class="insight">
        <span class="value">10 days</span>
        <span class="label">Submission to acceptance</span>
    </div>
    <div class="insight">
        <span class="value">15 days</span>
        <span class="label">Acceptance to publication</span>
    </div>
    <div class="view-insights">
        <a href="#">View all insights</a>
    </div>
</section>
<section class="editor-in-chief">
    <h2>Editor-in-Chief   |   Associate Editors</h2>
    <!-- <a href="#">View full editorial board</a> -->
    <div class="editor-details">
        <h3>Dr. Monika Yadav      1. Dr. Anshika Prakash   2. Ajhar Hussain   3. Dr. Richa Nangia</h3>
        <!-- <p>
            Coming soon...
        </p> -->
    </div>
</section>

<div class="articles-section">
    <h2>Articles</h2>
    <nav class="articles-nav">
        <a href="#">Latest published</a>
        <a href="#">Articles in press</a>
        <a href="#">Top cited</a>
        <a href="#">Most downloaded</a>
        <a href="#">Most popular</a>
    </nav>
    <div class="articles-grid">
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>How mutual funds respond to asymmetric feedback trading in China’s stock market</h3>
            <p class="authors">Die Wan, ... Xiaoguang Yang</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Evaluating the moderated-mediation effects of switching costs in the link between social capital and NPD performance</h3>
            <p class="authors">Yi Li, ... Jinpeng Xu</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Credit risk prediction for small and medium enterprises utilizing adjacent enterprise data and a relational graph attention network</h3>
            <p class="authors">Jiaxing Wang, ... Xinjie Xing</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Social network learning efficiency in the principal–agent relationship</h3>
            <p class="authors">Chuan Ding, ... Peng Liu</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Orthogonal polynomial expansions for the valuation of options under the stochastic</h3>
            <p class="authors">Wencan Lin, Yunjie Wei</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Economic forecasting with big data: A literature review</h3>
            <p class="authors">Wencan Lin, Yunjie Wei</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Credit risk prediction for small and medium enterprises utilizing adjacent enterprise data and a relational graph attention network</h3>
            <p class="authors">Jiaxing Wang, ... Xinjie Xing</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Social network learning efficiency in the principal–agent relationship</h3>
            <p class="authors">Chuan Ding, ... Peng Liu</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Orthogonal polynomial expansions for the valuation of options under the stochastic</h3>
            <p class="authors">Wencan Lin, Yunjie Wei</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
        <div class="article-item">
            <p class="article-type">Research article <span class="access-type">• Open access</span></p>
            <h3>Economic forecasting with big data: A literature review</h3>
            <p class="authors">Wencan Lin, Yunjie Wei</p>
            <p class="publication-date">June 2024</p>
            <a href="#" class="view-pdf">View PDF</a>
        </div>
    </div>
</div>

{% endblock %}