{% extends 'index.html' %}
{% block content %}
<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Editor-in-Cheif</h2>
        <p>Dr. Monika Yadav</p>
    </div>
</section>

<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Associate Editors </h2>

        <p>Dr. Anshika Prakash </p>
        <p>Dr. Ajhar Hussain</p>


    </div>
</section>
<section class="about-journal">
    <div class="aim-scope-section">

        <h2>Managaing Editor </h2>
        <p>Mr. Nitish Kumar Minz </p>
    </div>
</section>
<section class="about-journal">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>LinkedIn id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dr. Amit Mittal</td>
                    <td>Pro Vice-Chancellor (Research Programs), Chitkara University</td>
                    
                    <td><a href="https://www.linkedin.com">Amit Mittal | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dr. Richa Nangia</td>
                    <td>Associate Professor, School of Business, Sushant University</td>
                    
                    <td><a href="https://www.linkedin.com">Dr. Richa Nangia | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Komal Yadav</td>
                    <td>Program Coordinator, Forensic Department, K.R. Mangalam University</td>
                    
                    <td><a href="https://www.linkedin.com">Komal Yadav | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dr. Rashmi Singel</td>
                    <td>Associate Professor at Manav Rachna International Institute of Research and Studies, Faridabad
                    </td>
                    
                    <td><a href="https://www.linkedin.com">Dr. Rashmi Singel | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Dr. Sachita Yadav</td>
                    <td>Finance Academician, National Institute of Financial Management - PGDM (Financial Markets)</td>
                    
                    <td><a href="https://www.linkedin.com">Dr. Sachita Yadav | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Dr. Parul Tyagi</td>
                    <td>Senior Lecturer, Department of Foreign Languages, Faculty of Economics, RUDN University, Moscow,
                        Russia</td>
                    
                    <td><a href="https://www.linkedin.com">Dr. Parul Tyagi | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Dr. Abdullah Bin Junaid</td>
                    <td>Faculty, IMT Business School, Dubai</td>     
                    <td><a href="https://www.linkedin.com">Dr. Abdullah Bin Junaid (PhD) | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Dr. Aparna Sinha</td>
                    <td></td>
                    
                    <td><a href="https://www.linkedin.com">Aparna Sinha | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Dr. Aftab Alam</td>
                    <td></td>                   
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Dr. Firoz Ahmad</td>
                    <td></td>
                  
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Dr. Shashkant Yadav</td>
                    <td>Assistant Professor, Department of Earth & Planetary Sciences, Prof. Rajendra Singh (Rajju
                        Bhaiya) Institute of Physical Sciences for Study and Research, VBS Purvanchal University</td>                  
                    <td><a href="https://www.linkedin.com">Shashikant Yadav | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Mohammad Kamran Ikram</td>
                    <td>Swinburne University of Technology, Australia</td> 
                    <td><a href="https://www.linkedin.com">Mohammad Kamran Ikram | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Md. Sazal Miah</td>
                    <td>Federation University Australia</td>                    
                    <td><a href="https://www.linkedin.com">Md. Sazal Miah | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Dr. Hari Mohan Rai</td>
                    <td>Assistant Professor, Gachon University, South Korea</td>                  
                    <td><a href="https://www.linkedin.com">Dr. Hari Mohan Rai | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Dr. Kaveri Sharma</td>
                    <td>Professor & Head of the Department, School of Law, Manav Rachna University</td>
                    <td><a href="https://www.linkedin.com">Prof.(Dr.) Kaveri Sharma | LinkedIn</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


{% endblock %}