{% extends 'index.html' %}

{% block content %}
<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Editor-in-Cheif</h2>
        <p>Dr. Monika Yadav</p>
</div>
</section>

<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Associate Editors </h2>
        
          <p>Dr. Anshika Prakash </p>
            <p>Dr. Ajhar Hussain</p>
        

</div>
</section>
<section class="about-journal">
    <div class="aim-scope-section">

        <h2>Managaing Editor </h2>
        <p>Mr. Nitish Kumar Minz </p>

        <h2>Editorial Board </h2>
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>LinkedIn ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dr. Amit Mittal</td>
                    <td>Pro Vice-Chancellor (Research Programs), Chitkara University</td>
                    <td><a href="https://www.linkedin.com/in/dramitmittal" target="_blank">Amit Mittal | LinkedIn</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dr. Richa Nangia</td>
                    <td>Associate Professor, School of Business, Sushant University</td>
                    <td><a href="https://www.linkedin.com/in/dr-richa-nangia-82968524" target="_blank">Dr. Richa Nangia | LinkedIn</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dr. Swati Shrivastava</td>
                    <td>Assistant Professor, School of Business, Sushant University</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dr. Shivani Kampani</td>
                    <td>Assistant Professor, G.D. Goenka University</td>
                    <td><a href="https://www.linkedin.com/in/dr-shivani-kampani-01b230240" target="_blank">Dr. Shivani Kampani |
                            LinkedIn</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


{% endblock %}