{% extends 'index.html' %}

{% block content %}
<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Editor-in-Cheif</h2>
        <p>Dr. Monika Yadav</p>
</div>
</section>

<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Associate Editors </h2>
        
          <p>Dr. Anshika Prakash </p>
            <p>Dr. Ajhar Hussain</p>
        

</div>
</section>
<section class="about-journal">
    <div class="aim-scope-section">

        <h2>Managaing Editor </h2>
        <p>Mr. Nitish Kumar Minz </p>
</div>
</section>
<section class="about-journal">
    <div class="aim-scope-section">
        <h2>Editorial Board </h2>
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>LinkedIn ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dr. Amit Mittal</td>
                    <td>Pro Vice-Chancellor (Research Programs), Chitkara University</td>
                    <td><a href="https://www.linkedin.com/in/dramitmittal" target="_blank">Amit Mittal <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dr. Richa Nangia</td>
                    <td>Associate Professor, School of Business, Sushant University</td>
                    <td><a href="https://www.linkedin.com/in/dr-richa-nangia-82968524" target="_blank">Dr. Richa Nangia <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dr. Swati Shrivastava</td>
                    <td>Assistant Professor, School of Business, Sushant University</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dr. Shivani Kampani</td>
                    <td>Assistant Professor, G.D. Goenka University</td>
                    <td><a href="https://www.linkedin.com/in/dr-shivani-kampani-01b230240" target="_blank">Dr. Shivani Kampani <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18px" fill="currentColor"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


{% endblock %}